In [1]:
#Pandas can:
# work with tabular data: relational or labeled data, columns of different data types
# Perfrom operations on data: data manipulation and analysis, numerical and time-series data

In [2]:
#import pandas
import pandas as pd

In [3]:
#Load CSV data using read_csv()
csv_file = pd.read_csv("posts-100.csv")
#the csv file now is load under DataFrame format
csv_file

,5,1,2014-05-13T23:58:30.457,9,448,2014-05-14T00:36:31.077,How can I do simple machine learning without hard-coding behavior?,<machine-learning>,1.1,1.2,1.3,2014-05-14T14:40:25.950
0,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN
3,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN
4,15,1,2014-05-14T01:41:23.110,2,543.0,2014-05-14T01:41:23.110,What are the advantages and disadvantages of S...,<databases>,0.0,1,NaN,2014-05-14T07:41:49.437
...,...,...,...,...,...,...,...,...,...,...,...,...
94,120,2,2014-05-17T18:15:11.937,5,NaN,2014-05-17T18:15:11.937,NaN,NaN,NaN,1,NaN,NaN
95,121,2,2014-05-17T18:53:30.123,17,NaN,2014-05-17T18:53:30.123,NaN,NaN,NaN,2,NaN,NaN
96,122,2,2014-05-17T20:56:15.577,10,NaN,2014-05-17T20:56:15.577,NaN,NaN,NaN,0,NaN,NaN
97,123,5,2014-05-17T21:10:41.990,0,NaN,2014-05-20T13:50:21.763,NaN,NaN,NaN,0,NaN,NaN
98,124,4,2014-05-17T21:10:41.990,0,NaN,2014-05-20T13:50:19.543,NaN,NaN,NaN,0,NaN,NaN

In [4]:
#check the type of csv_file
type(csv_file)

pandas.core.frame.DataFrame

In [5]:
#if the dataframe is very long and you just want to take a peak at first few rows, use head() function
csv_file.head() #the default is 5 rows

,5,1,2014-05-13T23:58:30.457,9,448,2014-05-14T00:36:31.077,How can I do simple machine learning without hard-coding behavior?,<machine-learning>,1.1,1.2,1.3,2014-05-14T14:40:25.950
0,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN
3,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN
4,15,1,2014-05-14T01:41:23.110,2,543.0,2014-05-14T01:41:23.110,What are the advantages and disadvantages of S...,<databases>,0.0,1,NaN,2014-05-14T07:41:49.437

In [6]:
#you can extract how many rows you want
csv_file.head(3) #return first 3 rows

,5,1,2014-05-13T23:58:30.457,9,448,2014-05-14T00:36:31.077,How can I do simple machine learning without hard-coding behavior?,<machine-learning>,1.1,1.2,1.3,2014-05-14T14:40:25.950
0,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN

In [7]:
#Load files outside of directory using a URL
#upload a file from github using URL
remote_file = "https://raw.githubusercontent.com/quannguyen0103/Python/main/posts-100.csv" #store URL 
new_csv_file = pd.read_csv(remote_file, header = None) #create DataFrame without header

In [8]:
csv_head = new_csv_file.head()

In [9]:
csv_head

,0,1,2,3,4,5,6,7,8,9,10,11
0,5,1,2014-05-13T23:58:30.457,9,448.0,2014-05-14T00:36:31.077,How can I do simple machine learning without h...,<machine-learning>,1.0,1,1.0,2014-05-14T14:40:25.950
1,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
2,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
3,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN
4,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN

In [10]:
#skip first n rows
pd.read_csv(remote_file, skiprows = 3) #the dataframe start with index 4 in the original csv file

,10,2,2014-05-14T00:53:43.273,12,Unnamed: 4,2014-05-14T00:53:43.273.1,Unnamed: 6,Unnamed: 7,Unnamed: 8,1,Unnamed: 10,Unnamed: 11
0,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN
1,15,1,2014-05-14T01:41:23.110,2,543.0,2014-05-14T01:41:23.110,What are the advantages and disadvantages of S...,<databases>,0.0,1,NaN,2014-05-14T07:41:49.437
2,16,1,2014-05-14T01:57:56.880,18,322.0,2014-05-17T16:24:14.523,Use liblinear on big data for semantic analysis,<machine-learning><bigdata><libsvm>,2.0,0,NaN,NaN
3,17,5,2014-05-14T02:49:14.580,0,NaN,2014-05-16T13:44:53.470,NaN,NaN,NaN,0,NaN,NaN
4,18,4,2014-05-14T02:49:14.580,0,NaN,2014-05-14T02:49:14.580,NaN,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91,120,2,2014-05-17T18:15:11.937,5,NaN,2014-05-17T18:15:11.937,NaN,NaN,NaN,1,NaN,NaN
92,121,2,2014-05-17T18:53:30.123,17,NaN,2014-05-17T18:53:30.123,NaN,NaN,NaN,2,NaN,NaN
93,122,2,2014-05-17T20:56:15.577,10,NaN,2014-05-17T20:56:15.577,NaN,NaN,NaN,0,NaN,NaN
94,123,5,2014-05-17T21:10:41.990,0,NaN,2014-05-20T13:50:21.763,NaN,NaN,NaN,0,NaN,NaN
95,124,4,2014-05-17T21:10:41.990,0,NaN,2014-05-20T13:50:19.543,NaN,NaN,NaN,0,NaN,NaN

In [11]:
#display only n rows
pd.read_csv(remote_file, nrows = 3) #always display 3 rows

,5,1,2014-05-13T23:58:30.457,9,448,2014-05-14T00:36:31.077,How can I do simple machine learning without hard-coding behavior?,<machine-learning>,1.1,1.2,1.3,2014-05-14T14:40:25.950
0,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN

In [12]:
pd.read_csv(remote_file, nrows = 3, skiprows = 6)
#still display 3 rows, but start at index 5

,16,1,2014-05-14T01:57:56.880,18,322,2014-05-17T16:24:14.523,Use liblinear on big data for semantic analysis,<machine-learning><bigdata><libsvm>,2,0,Unnamed: 10,Unnamed: 11
0,17,5,2014-05-14T02:49:14.580,0,NaN,2014-05-16T13:44:53.470,NaN,NaN,NaN,0,NaN,NaN
1,18,4,2014-05-14T02:49:14.580,0,NaN,2014-05-14T02:49:14.580,NaN,NaN,NaN,0,NaN,NaN
2,19,1,2014-05-14T03:56:20.963,73,7993.0,2018-05-01T13:04:43.563,How big is big data?,<bigdata><scalability><efficiency><performance>,12.0,5,20.0,NaN

In [19]:
# More advance method for speify which rows to load: callable
post_odd = pd.read_csv(remote_file, skiprows = lambda x: x % 2 != 0, header = None)

In [21]:
post_odd.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,5,1,2014-05-13T23:58:30.457,9,448.0,2014-05-14T00:36:31.077,How can I do simple machine learning without h...,<machine-learning>,1.0,1,1.0,2014-05-14T14:40:25.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN
3,16,1,2014-05-14T01:57:56.880,18,322.0,2014-05-17T16:24:14.523,Use liblinear on big data for semantic analysis,<machine-learning><bigdata><libsvm>,2.0,0,NaN,NaN
4,18,4,2014-05-14T02:49:14.580,0,NaN,2014-05-14T02:49:14.580,NaN,NaN,NaN,0,NaN,NaN

In [32]:
# Specify which column to load
post_columns = pd.read_csv(remote_file, usecols = [0, 6, 7, 8], header = None)

In [33]:
post_columns.head()

,0,6,7,8
0,5,How can I do simple machine learning without h...,<machine-learning>,1.0
1,7,What open-source books (or other materials) pr...,<education><open-source>,3.0
2,9,NaN,NaN,NaN
3,10,NaN,NaN,NaN
4,14,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0

In [34]:
columns_check = pd.read_csv(remote_file)

In [35]:
# Check the header of all columns
columns_check.columns

Index(['5', '1', '2014-05-13T23:58:30.457', '9', '448',
       '2014-05-14T00:36:31.077',
       'How can I do simple machine learning without hard-coding behavior?',
       '<machine-learning>', '1.1', '1.2', '1.3', '2014-05-14T14:40:25.950'],
      dtype='object')

In [36]:
# all columns' header now is a bit off, because the csv file doesn't include headers
# Option 1: Set a prefix for all index columns
post_prefix = pd.read_csv(remote_file, header = None, prefix = "col") #prefix will be remove in future

/tmp/ipykernel_94/3472545681.py:3: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  post_prefix = pd.read_csv(remote_file, header = None, prefix = "col")

In [37]:
post_prefix.columns

Index(['col0', 'col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8',
       'col9', 'col10', 'col11'],
      dtype='object')

In [38]:
# Option 2: Provide column names
#1. Create a header field list
header_fields = ["New_Id", "New_PostTypeId", "New_CreationDate", "New_Score", "New_ViewCount",
                 "New_LastActivityDate", "New_Title", "New_Tags", "New_AnswerCount",
                "New_CommentCount", "New_FavoriteCount", "New_CloseDate"]

In [41]:
# assign header for dataframe using names argument
file_header = pd.read_csv(remote_file, names = header_fields)

In [42]:
file_header.head() #now the dataframe has headers

,New_Id,New_PostTypeId,New_CreationDate,New_Score,New_ViewCount,New_LastActivityDate,New_Title,New_Tags,New_AnswerCount,New_CommentCount,New_FavoriteCount,New_CloseDate
0,5,1,2014-05-13T23:58:30.457,9,448.0,2014-05-14T00:36:31.077,How can I do simple machine learning without h...,<machine-learning>,1.0,1,1.0,2014-05-14T14:40:25.950
1,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
2,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
3,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN
4,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN

In [50]:
#dtypes functions: check the data type of columns
pd.read_csv("posts-100-header.csv", usecols = [0, 5, 8, 9]).dtypes

Id                    int64
LastActivityDate     object
AnswerCount         float64
CommentCount          int64
dtype: object

In [54]:
# We can use dtypes to change the data type in columns
pd.read_csv("posts-100-header.csv", usecols = [0, 5, 8, 9], dtype = {"Id": float}).dtypes

Id                  float64
LastActivityDate     object
AnswerCount         float64
CommentCount          int64
dtype: object

In [55]:
# Apply function to specific columns
post_tags = pd.read_csv("posts-100-header.csv", usecols = [0, 5, 8, 9])
post_tags.iloc[1] #iloc[]: get the row by index

Id                                        7
LastActivityDate    2014-05-16T13:45:00.237
AnswerCount                             3.0
CommentCount                              4
Name: 1, dtype: object

In [56]:
import re #the module that contain functions using for apply function to columns

In [58]:
# Turn a string to a list of string
post_tags = pd.read_csv("posts-100-header.csv", usecols = [0, 1, 2, 7],
                       converters = {"Tags": lambda x: re.findall("<[A-Za-z0-9_-]*>", x)})
#This is very powerful

In [59]:
post_tags.head() #now the tags contain list of strings

   Id  PostTypeId             CreationDate                            Tags
0   5           1  2014-05-13T23:58:30.457            [<machine-learning>]
1   7           1  2014-05-14T00:11:06.457    [<education>, <open-source>]
2   9           2  2014-05-14T00:36:31.077                              []
3  10           2  2014-05-14T00:53:43.273                              []
4  14           1  2014-05-14T01:25:59.677  [<data-mining>, <definitions>]

In [60]:
# date and time in Pandas using parse_dates
post_tags = pd.read_csv("posts-100-header.csv", usecols = [0, 1, 2, 7],
                        parse_dates = ["CreationDate"])

In [62]:
post_tags.dtypes #now the creationdate is datetime type

Id                       int64
PostTypeId               int64
CreationDate    datetime64[ns]
Tags                    object
dtype: object

In [65]:
#Missing value
pd.read_csv("posts-100-header.csv", usecols = [0, 3, 4, 8, 9, 10]).head()

   Id  Score  ViewCount  AnswerCount  CommentCount  FavoriteCount
0   5      9      448.0          1.0             1            1.0
1   7      4      388.0          3.0             4            1.0
2   9      5        NaN          NaN             0            NaN
3  10     12        NaN          NaN             1            NaN
4  14     21     1243.0          4.0             1            4.0

In [67]:
# NaN repesent missing values
# Work with NaN
pd.read_csv("posts-100-header.csv", usecols = [0, 3, 4, 8, 9, 10], na_filter = False).head()
#Now all NaN will be replace with empty value

   Id  Score ViewCount AnswerCount  CommentCount FavoriteCount
0   5      9       448           1             1             1
1   7      4       388           3             4             1
2   9      5                                   0
3  10     12                                   1
4  14     21      1243           4             1             4

In [68]:
#New dilimeters in file: tab,..
!cat posts-100.tsv # this file seperate values using tab, not comma

In [71]:
#load TSV file
pd.read_csv("posts-100.tsv", sep = "\t").head()
#another more convenient way to open tsv file
pd.read_table("posts-100.tsv").head()

,5,1,2014-05-13T23:58:30.457,9,448,2014-05-14T00:36:31.077,How can I do simple machine learning without hard-coding behavior?,<machine-learning>,1.1,1.2,1.3,2014-05-14T14:40:25.950
0,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN
3,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN
4,15,1,2014-05-14T01:41:23.110,2,543.0,2014-05-14T01:41:23.110,What are the advantages and disadvantages of S...,<databases>,0.0,1,NaN,2014-05-14T07:41:49.437