In [1]:
#Find all scientists/writers/activists who win Nobel prize MORE THAN 1.

In [2]:
#1. Import library and data
#2. Clean and transform data
#3. Get the list of scientists/writers/activists (names, and category) who win Nobel prize MORE THAN 1.

In [4]:
#1. Import library and data
import pandas as pd
data = pd.read_csv("dataset.csv")
data.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [5]:
#2. Clean and transform data

In [31]:
#3. Get the list of scientists/writers/activists (names, and job) who win Nobel prize MORE THAN 1.

#a. Find all unique category in catgory
data["category"].unique()
#b. scientists/writers/activists categories: 'Chemistry', 'Literature', 'Peace'

#create a new dataframe with 2 columns: category and full_names
nobel_winners = data.loc[:, ["category", "full_name"]]

#c. count how many time each winner win Nobel prize
nobel_winners = data.groupby(["full_name", "category"]).size().reset_index(name = "nobel prizes")
#group by full_name and category, then use size() to count values in each group of full_name-category
#reset index of the new column create by size() to get a new dataframe, assign it back to nobel_winners

#d. filter rows to get winner with nobel prizes > 1 and is scientists/writers/activists and all the rows
names = nobel_winners.loc[nobel_winners["category"].isin(['Chemistry', 'Literature', 'Peace']) 
                          & (nobel_winners["nobel prizes"] > 1)] #filter rows

#merge names with data to get the categories of each winner
names

,full_name,category,nobel prizes
141,Comité international de la Croix Rouge (Intern...,Peace,3
250,Frederick Sanger,Chemistry,2
605,Office of the United Nations High Commissioner...,Peace,2