In [1]:
#first import pandas
import pandas as pd

In [2]:
#load data from excel file into Python
excel_file = pd.ExcelFile("stackoverflow.xlsx")

In [3]:
#check the how many sheets there are in excel files
excel_file.sheet_names

['Posts Raw', 'Posts', 'Users']

In [4]:
#turn excel_file into data frame using parse
excel_df = excel_file.parse()

In [6]:
excel_df.head()

,5,1,2014-05-13T23:58:30.457,9,448,2014-05-14T00:36:31.077,How can I do simple machine learning without hard-coding behavior?,<machine-learning>,1.1,1.2,1.3,2014-05-14T14:40:25.950
0,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN
3,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN
4,15,1,2014-05-14T01:41:23.110,2,543.0,2014-05-14T01:41:23.110,What are the advantages and disadvantages of S...,<databases>,0.0,1,NaN,2014-05-14T07:41:49.437

In [18]:
# another way to change exceL_file into dataframe, but with parameters
header_field = header_fields = ["New_Id", "New_PostTypeId", "New_CreationDate", "New_Score", "New_ViewCount",
                 "New_LastActivityDate", "New_Title", "New_Tags", "New_AnswerCount",
                "New_CommentCount", "New_FavoriteCount", "New_CloseDate"]
#use names argument instead of header argument to assign header, header argument only take integer
excel_header = pd.read_excel("stackoverflow.xlsx", names = header_field)

In [19]:
excel_header

,New_Id,New_PostTypeId,New_CreationDate,New_Score,New_ViewCount,New_LastActivityDate,New_Title,New_Tags,New_AnswerCount,New_CommentCount,New_FavoriteCount,New_CloseDate
0,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
1,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
2,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN
3,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN
4,15,1,2014-05-14T01:41:23.110,2,543.0,2014-05-14T01:41:23.110,What are the advantages and disadvantages of S...,<databases>,0.0,1,NaN,2014-05-14T07:41:49.437
...,...,...,...,...,...,...,...,...,...,...,...,...
94,120,2,2014-05-17T18:15:11.937,5,NaN,2014-05-17T18:15:11.937,NaN,NaN,NaN,1,NaN,NaN
95,121,2,2014-05-17T18:53:30.123,17,NaN,2014-05-17T18:53:30.123,NaN,NaN,NaN,2,NaN,NaN
96,122,2,2014-05-17T20:56:15.577,10,NaN,2014-05-17T20:56:15.577,NaN,NaN,NaN,0,NaN,NaN
97,123,5,2014-05-17T21:10:41.990,0,NaN,2014-05-20T13:50:21.763,NaN,NaN,NaN,0,NaN,NaN
98,124,4,2014-05-17T21:10:41.990,0,NaN,2014-05-20T13:50:19.543,NaN,NaN,NaN,0,NaN,NaN

In [21]:
#load another excel files
new_excel = pd.read_excel("stackoverflow-one.xlsx")

In [22]:
#check all functions we can use on the data frame
dir(new_excel)

['CreationDate',
 'Id',
 'LastUpdateDate',
 'Location',
 'Name',
 'PostTypeId',
 'Reputation',
 'T',
 'ViewCount',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [23]:
#check all columns available
new_excel.columns

Index(['Id', 'PostTypeId', 'Location', 'Name', 'CreationDate',
       'LastUpdateDate', 'ViewCount', 'Reputation'],
      dtype='object')

In [24]:
#get only specific columns
pd.read_excel("stackoverflow-one.xlsx", usecols = [0, 2]).head()

   Id            Location
0  -1  on the server farm
1   1          Costa Rica
2   2        New York, NY
3   3          Curridabat
4   4   Republic of Texas

In [29]:
 #load multiple column using slicing rule in excel
pd.read_excel("stackoverflow-one.xlsx", usecols = "A:E").head()
#A, E is default column names in excel. A is first column

   Id  PostTypeId            Location           Name             CreationDate
0  -1           1  on the server farm      Community  2014-05-13T21:29:22.820
1   1         101          Costa Rica  Xavier Morera  2014-05-13T22:58:54.810
2   2         101        New York, NY          Irene  2014-05-13T22:59:19.787
3   3         101          Curridabat        Juliana  2014-05-13T23:15:34.483
4   4         101   Republic of Texas          Lucia  2014-05-13T23:16:09.937

In [31]:
# How to load other sheets in excel files
excel_file.sheet_names

['Posts Raw', 'Posts', 'Users']

In [40]:
# Load every sheets into Python and change they to dictionary key-value pairs
excel_sheets = pd.read_excel("stackoverflow.xlsx", sheet_name = None)

In [41]:
# now the every sheet is in dictionary key-value pairs
# extract sheet like extract value from dictionary using key - the name of the sheet
excel_sheets["Posts"].head()

,Id,PostTypeId,CreationDate,Score,ViewCount,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate
0,5,1,2014-05-13T23:58:30.457,9,448.0,2014-05-14T00:36:31.077,How can I do simple machine learning without h...,<machine-learning>,1.0,1,1.0,2014-05-14T14:40:25.950
1,7,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0,4,1.0,2014-05-14T08:40:54.950
2,9,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN,0,NaN,NaN
3,10,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN,1,NaN,NaN
4,14,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0,1,4.0,NaN

In [47]:
# Import not entire file but specific sheet
excel_new_sheet = pd.read_excel("stackoverflow.xlsx", sheet_name = "Users", usecols = "A:E", header = 1).head()

In [48]:
excel_new_sheet

   Unnamed: 0  Id  PostTypeId            Location           Name
0         NaN  -1           1  on the server farm      Community
1         NaN   1         101          Costa Rica  Xavier Morera
2         NaN   2         101        New York, NY          Irene
3         NaN   3         101          Curridabat        Juliana
4         NaN   4         101   Republic of Texas          Lucia

In [45]:
#another way to select columns and new way to eliminate empty column
excel_users_sheet = pd.read_excel("stackoverflow.xlsx", sheet_name = "Users", usecols = range(1,9), header = 1).head()

In [46]:
excel_users_sheet

,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
2,2,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750
3,3,101,Curridabat,Juliana,2014-05-13T23:15:34.483,2018-02-21T21:19:57.513,5457,1100
4,4,101,Republic of Texas,Lucia,2014-05-13T23:16:09.937,2014-08-04T15:25:54.810,7845,1100

In [55]:
#import the excel sheet by using index, not name
excel_users_sheet = pd.read_excel("stackoverflow.xlsx",
                                  sheet_name = 2,
                                  header = 1,
                                  usecols = range(1,9)).head()

In [56]:
excel_users_sheet

,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
2,2,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750
3,3,101,Curridabat,Juliana,2014-05-13T23:15:34.483,2018-02-21T21:19:57.513,5457,1100
4,4,101,Republic of Texas,Lucia,2014-05-13T23:16:09.937,2014-08-04T15:25:54.810,7845,1100

In [64]:
#skip rows: skip the number of rows, not the index of rows
excel_users_sheet = pd.read_excel("stackoverflow.xlsx",
                                  sheet_name = 2,
                                  header = 1,
                                  usecols = range(1,9),
                                 skiprows = 2).head()

In [65]:
excel_users_sheet

,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
0,2,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750
1,3,101,Curridabat,Juliana,2014-05-13T23:15:34.483,2018-02-21T21:19:57.513,5457,1100
2,4,101,Republic of Texas,Lucia,2014-05-13T23:16:09.937,2014-08-04T15:25:54.810,7845,1100

In [73]:
# nrows: specify how many rows to get
excel_worksheet = pd.read_excel("stackoverflow.xlsx",
                                  sheet_name = 2,
                                  header = 1,
                                  usecols = range(1,9),
                               nrows = 2)

In [74]:
excel_worksheet

,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,-1,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,1,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250

In [84]:
#change the type of columns using dtype argument
pd.read_excel("stackoverflow.xlsx",
              sheet_name = 0,
              header = None,
              usecols = range(1,9),
              nrows = 10,
              dtype = {"Location" : str, "Reputation" : int},
             parse_dates = True)
#parse_dates = True: automatic turn every datetime column into datetime type
#parse_dates = ["column_name"] : turn a specific columns into datetime

,1,2,3,4,5,6,7,8
0,1,2014-05-13T23:58:30.457,9,448.0,2014-05-14T00:36:31.077,How can I do simple machine learning without h...,<machine-learning>,1.0
1,1,2014-05-14T00:11:06.457,4,388.0,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3.0
2,2,2014-05-14T00:36:31.077,5,NaN,2014-05-14T00:36:31.077,NaN,NaN,NaN
3,2,2014-05-14T00:53:43.273,12,NaN,2014-05-14T00:53:43.273,NaN,NaN,NaN
4,1,2014-05-14T01:25:59.677,21,1243.0,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4.0
5,1,2014-05-14T01:41:23.110,2,543.0,2014-05-14T01:41:23.110,What are the advantages and disadvantages of S...,<databases>,0.0
6,1,2014-05-14T01:57:56.880,18,322.0,2014-05-17T16:24:14.523,Use liblinear on big data for semantic analysis,<machine-learning><bigdata><libsvm>,2.0
7,5,2014-05-14T02:49:14.580,0,NaN,2014-05-16T13:44:53.470,NaN,NaN,NaN
8,4,2014-05-14T02:49:14.580,0,NaN,2014-05-14T02:49:14.580,NaN,NaN,NaN
9,1,2014-05-14T03:56:20.963,73,7993.0,2018-05-01T13:04:43.563,How big is big data?,<bigdata><scalability><efficiency><performance>,12.0

In [86]:
#converters: apply function for particular columns
pd.read_excel("stackoverflow.xlsx",
              sheet_name = 2,
              header = 1,
              #use a anonymous function, lambda to add 100 for every Id
             converters = {"Id" : lambda x: x + 100})

,Unnamed: 0,Id,PostTypeId,Location,Name,CreationDate,LastUpdateDate,ViewCount,Reputation
0,NaN,99,1,on the server farm,Community,2014-05-13T21:29:22.820,2014-05-13T21:29:22.820,780,679
1,NaN,101,101,Costa Rica,Xavier Morera,2014-05-13T22:58:54.810,2018-08-19T18:07:35.607,1542,1250
2,NaN,102,101,"New York, NY",Irene,2014-05-13T22:59:19.787,2017-12-19T18:52:19.423,4528,750
3,NaN,103,101,Curridabat,Juliana,2014-05-13T23:15:34.483,2018-02-21T21:19:57.513,5457,1100
4,NaN,104,101,Republic of Texas,Lucia,2014-05-13T23:16:09.937,2014-08-04T15:25:54.810,7845,1100

In [92]:
#replace NaN with empty values with keep_default_na argument
pd.read_excel("stackoverflow.xlsx",
              sheet_name = 0,
              names = header_field,
              usecols = range(10),
              keep_default_na = False).head(5)

,New_Id,New_PostTypeId,New_CreationDate,New_Score,New_ViewCount,New_LastActivityDate,New_Title,New_Tags,New_AnswerCount,New_CommentCount
0,7,1,2014-05-14T00:11:06.457,4,388,2014-05-16T13:45:00.237,What open-source books (or other materials) pr...,<education><open-source>,3,4
1,9,2,2014-05-14T00:36:31.077,5,,2014-05-14T00:36:31.077,,,,0
2,10,2,2014-05-14T00:53:43.273,12,,2014-05-14T00:53:43.273,,,,1
3,14,1,2014-05-14T01:25:59.677,21,1243,2014-06-20T17:36:05.023,Is Data Science the Same as Data Mining?,<data-mining><definitions>,4,1
4,15,1,2014-05-14T01:41:23.110,2,543,2014-05-14T01:41:23.110,What are the advantages and disadvantages of S...,<databases>,0,1