In [1]:
import pandas as pd

In [2]:
#import csv file and transform it into dataframe
data = pd.read_csv("artwork_sample.csv")

In [5]:
#check data
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [8]:
#find the min of specific column
data.height.min()

213

In [9]:
#find the max of specific column
data.height.max()

467

In [10]:
#sum
data.height.sum()

3515

In [11]:
#average
data.height.mean()

351.5

In [12]:
# median: number in the middle
data.height.median()

339.0

In [13]:
#std
data.height.std()

66.81857692455162

In [14]:
#agg function
data.agg("min") #return all the min value, even string column

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                         1826–7, reprinted 1892
medium                                                Graphite on paper
creditLine                          Presented by Mrs John Richmond 1922
year                                                             1785.0
acquisitionYear                                                    1919
dimensions                                          image: 240 x 338 mm
width                                                               240
height                                                              213
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [32]:
#the advantage of agg is that we can pass multiple aggregates to it
data.select_dtypes(include = "number").agg(["min", "max", "sum", "mean"]) #you need to put it on a list first

,id,artistId,year,acquisitionYear,width,height,depth,inscription,thumbnailCopyright
min,1035.0,38.0,1785.000000,1919.0,240.0,213.0,NaN,NaN,NaN
max,1044.0,39.0,1826.000000,1922.0,394.0,467.0,NaN,NaN,NaN
sum,10395.0,386.0,12741.000000,19202.0,2821.0,3515.0,0.0,0.0,0.0
mean,1039.5,38.6,1820.142857,1920.2,282.1,351.5,NaN,NaN,NaN

In [23]:
#you can use the describe() function to get all the basic statistical values
data.describe()

,id,artistId,year,acquisitionYear,width,height,depth,inscription,thumbnailCopyright
count,10.00000,10.000000,7.000000,10.000000,10.000000,10.000000,0.0,0.0,0.0
mean,1039.50000,38.600000,1820.142857,1920.200000,282.100000,351.500000,NaN,NaN,NaN
std,3.02765,0.516398,15.496543,1.549193,55.562677,66.818577,NaN,NaN,NaN
min,1035.00000,38.000000,1785.000000,1919.000000,240.000000,213.000000,NaN,NaN,NaN
25%,1037.25000,38.000000,1826.000000,1919.000000,242.250000,335.000000,NaN,NaN,NaN
50%,1039.50000,39.000000,1826.000000,1919.000000,244.500000,339.000000,NaN,NaN,NaN
75%,1041.75000,39.000000,1826.000000,1922.000000,316.250000,380.500000,NaN,NaN,NaN
max,1044.00000,39.000000,1826.000000,1922.000000,394.000000,467.000000,NaN,NaN,NaN

In [25]:
data.height.describe() #describe a column

count     10.000000
mean     351.500000
std       66.818577
min      213.000000
25%      335.000000
50%      339.000000
75%      380.500000
max      467.000000
Name: height, dtype: float64

In [31]:
#turn a row into a column
data.select_dtypes(include = "number").agg("mean", axis = "columns")
#select_dtypes(include = "number"): select only column with numeric types data

0    761.600000
1    704.000000
2    932.000000
3    742.000000
4    900.166667
5    900.333333
6    900.166667
7    902.000000
8    900.500000
9    901.833333
dtype: float64